<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	
	<!-- <security:http auto-config="true">
		<security:intercept-url pattern="/login.jsp" />
		<security:intercept-url pattern="/login-failure.jsp" />
		<security:intercept-url pattern="/pages/**"
			access="ROLE_ADMIN" />

		<security:form-login login-page="/login.jsp"
			authentication-failure-url="/login-failure.jsp" />
	</security:http> -->
	
	
	<security:http>
		<security:intercept-url pattern="/login.jsp" />
		<security:intercept-url pattern="/login-failure.jsp" />
		<security:intercept-url pattern="/pages/**"
			access="ROLE_ADMIN" />

		<security:form-login login-page="/login.jsp"
			authentication-failure-url="/login-failure.jsp" />
	</security:http>

	
	<security:authentication-manager>
		<security:authentication-provider>
			<security:jdbc-user-service
			data-source-ref="dataSource"
			users-by-username-query="select user_name, USER_PASSWORD, enabled from users where user_name=?" 
			
     	   	authorities-by-username-query="select us.user_name, ur.AUTORITY from users us, user_role ur 
		      where us.user_id = ur.user_role_id and us.user_name =?"/>
		</security:authentication-provider>
	</security:authentication-manager>
</beans>
